.number {
  color: blue;
  background-color: green;
}

.active {
  color: blue;
  background-color: red;
}

.finish {
  color: blue;
  background-color: lightskyblue;
}

.inline {
  display: inline-block;
  /*height: 80px;*/
  /*vertical-align: sub;*/
  vertical-align: bottom;
  width: 20px;
  margin: 5px;
}

#display {
  background-color: #F9C546;
}
